openapi: "3.0.1"
info:
  title: Gravitate Health Connector API Interface
  version: MVP3
  description: Gravitate Health connector.
  contact: {}
servers:
  - url: https://fosps.gravitatehealth.eu
  - url: https://gravitate-health.lst.tfo.upm.es
paths:
  /connector/api/:
    post:
      summary: "server-transaction: Execute a FHIR Transaction (or FHIR Batch) Bundle"
      tags:
        - ePI
      description: Search Bundle ePI with a FHIR query. More information about FHIR transactions in https://www.hl7.org/fhir/http.html#transaction
      requestBody:
        content:
          application/json:
            schema:
              type: object
            example:
              resourceType: "Bundle"
              type: "transaction"
              entry:
                - request:
                    method: "GET"
                    url: "Patient?name=alicia"
          
      responses:
        "200":
          description: "OK"
  /connector/api/connectors/list:
    get:
      summary: "Get list of available connectors in FOSPS"
      tags:
        - Connector
      responses:
        "200":
          description: "OK"
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                example: ["IPS", "EPI", "FHIR_SYNC"]
        "400":
          $ref: "#/components/responses/400BadRequest"
        "404":
          $ref: "#/components/responses/404NotFound"
  /connector/api/connectors/{connectorName}/run:
    post:
      summary: "Run connector on demand"
      responses:
        "200":
          description: "OK"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "404":
          $ref: "#/components/responses/404NotFound"
  
components:
  responses:
    422InvalidData:
      description: Invalid Data
    400BadRequest:
      description: Bad Request
    404NotFound:
      description: Not Found