openapi: "3.0.1"
info:
  title: Gravitate Health Connector API Interface
  version: MVP3
  description: Gravitate Health connector.
  contact: {}
servers:
  - url: https://fosps.gravitatehealth.eu
  - url: https://gravitate-health.lst.tfo.upm.es
paths:
  /connector/api/:
    post:
      summary: "server-transaction: Execute a FHIR Transaction (or FHIR Batch) Bundle"
      tags:
        - ePI
      description: Search Bundle ePI with a FHIR query.
      requestBody:
        content:
          application/json:
            schema:
              type: object
            example:
              resourceType: "Bundle"
              type: "transaction"
              entry:
                - request:
                    method: "GET"
                    url: "Patient?name=alicia"
          
      responses:
        "200":
          $ref: "#/components/responses/200ok"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "404":
          $ref: "#/components/responses/404NotFound"
components:
  schemas:
    FHIR-JSON-RESOURCE:
      type: object
  parameters:
    epiIdentifier:
      in: path
      name: epiIdentifier
      description: identifier of the ePI to retrieve.
      required: true
      schema:
        type: string
    patientIdentifier:
      in: path
      name: patientIdentifier
      description: patient identifier for the IPS.
      required: true
      schema:
        type: string
    RMMIdentifier:
      in: path
      name: RMMIdentifier
      description: RMM identifier to retrieve.
      required: true
      schema:
        type: string
    lensIdentifier:
      in: path
      name: lensIdentifier
      description: lens identifier to retrieve.
      required: true
      schema:
        type: string
  responses:
    200ok:
      description: OK
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/FHIR-JSON-RESOURCE"
    422InvalidData:
      description: Invalid Data
    400BadRequest:
      description: Bad Request
    404NotFound:
      description: Not Found