openapi: "3.0.1"
info:
  title: Gravitate Health Connector API Interface
  version: MVP3
  description: Gravitate Health connector.
  contact: {}
servers:
  - url: https://fosps.gravitatehealth.eu
  - url: https://gravitate-health.lst.tfo.upm.es
paths:
  /connector/api/Bundle/:
    get:
      summary: "search-type: Search for Bundle instances"
      tags:
        - ePI
      description: Search Bundle ePI with a FHIR query.
      parameters:
      - name: _language
        in: query
        description: The language of the resource
        required: false
        schema:
          type: string
      - name: identifier
        in: query
        description: Persistent identifier for the bundle
        required: false
        schema:
          type: string
      - name: _lastUpdated
        in: query
        description: When the resource version last changed
        required: false
        schema:
          anyOf:
          - type: string
            format: date-time
          - type: string
            format: date
      - name: _security
        in: query
        description: Security Labels applied to this resource
        required: false
        schema:
          type: string
      - name: message
        in: query
        description: "The first resource in the bundle, if the bundle type is \"message\"\
          \ - this is a message header, and this parameter provides access to search\
          \ its contents"
        required: false
        schema:
          type: string
      - name: type
        in: query
        description: document | message | transaction | transaction-response | batch
          | batch-response | history | searchset | collection
        required: false
        schema:
          type: string
      - name: _filter
        in: query
        description: Search the contents of the resource's data using a filter
        required: false
        schema:
          type: string
      - name: _list
        in: query
        description: Search the contents of the resource's data using a list
        required: false
        schema:
          type: string
      - name: _profile
        in: query
        description: Profiles this resource claims to conform to
        required: false
        schema:
          type: string
      - name: composition
        in: query
        description: "The first resource in the bundle, if the bundle type is \"document\"\
          \ - this is a composition, and this parameter provides access to search\
          \ its contents"
        required: false
        schema:
          type: string
      - name: _tag
        in: query
        description: Tags applied to this resource
        required: false
        schema:
          type: string
      - name: _has
        in: query
        description: Return resources linked to by the given target
        required: false
        schema:
          type: string
      - name: _source
        in: query
        description: Identifies where the resource comes from
        required: false
        schema:
          type: string
      - name: _id
        in: query
        description: Logical id of this artifact
        required: false
        schema:
          type: string
      - name: _text
        in: query
        description: Search on the narrative of the resource
        required: false
        schema:
          type: string
      - name: _content
        in: query
        description: Search on the entire content of the resource
        required: false
        schema:
          type: string
      - name: timestamp
        in: query
        description: When the bundle was assembled
        required: false
        schema:
          anyOf:
          - type: string
            format: date-time
          - type: string
            format: date

      responses:
        "200":
          $ref: "#/components/responses/200ok"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "404":
          $ref: "#/components/responses/404NotFound"
  /connector/api/Bundle/{id}:
    get:
      summary: "search-type: Read Bundle instance"
      tags:
        - ePI
      description: Get an ePI via identifier.
      parameters:
        - $ref: "#/components/parameters/epiIdentifier"
      responses:
        "200":
          $ref: "#/components/responses/200ok"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "404":
          $ref: "#/components/responses/404NotFound"
  /connector/api/ips/:
    get:
      summary: "search-type: Search for Patient instances"
      tags:
        - IPS
      description: Search patient IPS with a FHIR query.
      parameters:       
      - name: _language
        in: query
        description: The language of the resource
        required: false
        schema:
          type: string
      - name: birthdate
        in: query
        description: "Multiple Resources: \r\n\r\n* [Patient](patient.html): The patient's\
          \ date of birth\r\n* [Person](person.html): The person's date of birth\r\
          \n* [RelatedPerson](relatedperson.html): The Related Person's date of birth"
        required: false
        schema:
          anyOf:
          - type: string
            format: date-time
          - type: string
            format: date
      - name: deceased
        in: query
        description: "This patient has been marked as deceased, or as a death date\
          \ entered"
        required: false
        schema:
          type: string
      - name: address-state
        in: query
        description: "Multiple Resources: \r\n\r\n* [Patient](patient.html): A state\
          \ specified in an address\r\n* [Person](person.html): A state specified\
          \ in an address\r\n* [Practitioner](practitioner.html): A state specified\
          \ in an address\r\n* [RelatedPerson](relatedperson.html): A state specified\
          \ in an address"
        required: false
        schema:
          type: string
      - name: gender
        in: query
        description: "Multiple Resources: \r\n\r\n* [Patient](patient.html): Gender\
          \ of the patient\r\n* [Person](person.html): The gender of the person\r\n\
          * [Practitioner](practitioner.html): Gender of the practitioner\r\n* [RelatedPerson](relatedperson.html):\
          \ Gender of the related person"
        required: false
        schema:
          type: string
      - name: _lastUpdated
        in: query
        description: When the resource version last changed
        required: false
        schema:
          anyOf:
          - type: string
            format: date-time
          - type: string
            format: date
      - name: link
        in: query
        description: All patients linked to the given patient
        required: false
        schema:
          type: string
      - name: language
        in: query
        description: Language code (irrespective of use value)
        required: false
        schema:
          type: string
      - name: address-country
        in: query
        description: "Multiple Resources: \r\n\r\n* [Patient](patient.html): A country\
          \ specified in an address\r\n* [Person](person.html): A country specified\
          \ in an address\r\n* [Practitioner](practitioner.html): A country specified\
          \ in an address\r\n* [RelatedPerson](relatedperson.html): A country specified\
          \ in an address"
        required: false
        schema:
          type: string
      - name: _list
        in: query
        description: Search the contents of the resource's data using a list
        required: false
        schema:
          type: string
      - name: death-date
        in: query
        description: The date of death has been provided and satisfies this search
          value
        required: false
        schema:
          anyOf:
          - type: string
            format: date-time
          - type: string
            format: date
      - name: phonetic
        in: query
        description: "Multiple Resources: \r\n\r\n* [Patient](patient.html): A portion\
          \ of either family or given name using some kind of phonetic matching algorithm\r\
          \n* [Person](person.html): A portion of name using some kind of phonetic\
          \ matching algorithm\r\n* [Practitioner](practitioner.html): A portion of\
          \ either family or given name using some kind of phonetic matching algorithm\r\
          \n* [RelatedPerson](relatedperson.html): A portion of name using some kind\
          \ of phonetic matching algorithm"
        required: false
        schema:
          type: string
      - name: telecom
        in: query
        description: "Multiple Resources: \r\n\r\n* [Patient](patient.html): The value\
          \ in any kind of telecom details of the patient\r\n* [Person](person.html):\
          \ The value in any kind of contact\r\n* [Practitioner](practitioner.html):\
          \ The value in any kind of contact\r\n* [PractitionerRole](practitionerrole.html):\
          \ The value in any kind of contact\r\n* [RelatedPerson](relatedperson.html):\
          \ The value in any kind of contact"
        required: false
        schema:
          type: string
      - name: address-city
        in: query
        description: "Multiple Resources: \r\n\r\n* [Patient](patient.html): A city\
          \ specified in an address\r\n* [Person](person.html): A city specified in\
          \ an address\r\n* [Practitioner](practitioner.html): A city specified in\
          \ an address\r\n* [RelatedPerson](relatedperson.html): A city specified\
          \ in an address"
        required: false
        schema:
          type: string
      - name: email
        in: query
        description: "Multiple Resources: \r\n\r\n* [Patient](patient.html): A value\
          \ in an email contact\r\n* [Person](person.html): A value in an email contact\r\
          \n* [Practitioner](practitioner.html): A value in an email contact\r\n*\
          \ [PractitionerRole](practitionerrole.html): A value in an email contact\r\
          \n* [RelatedPerson](relatedperson.html): A value in an email contact"
        required: false
        schema:
          type: string
      - name: given
        in: query
        description: "Multiple Resources: \r\n\r\n* [Patient](patient.html): A portion\
          \ of the given name of the patient\r\n* [Practitioner](practitioner.html):\
          \ A portion of the given name"
        required: false
        schema:
          type: string
      - name: identifier
        in: query
        description: A patient identifier
        required: false
        schema:
          type: string
      - name: address
        in: query
        description: "Multiple Resources: \r\n\r\n* [Patient](patient.html): A server\
          \ defined search that may match any of the string fields in the Address,\
          \ including line, city, district, state, country, postalCode, and/or text\r\
          \n* [Person](person.html): A server defined search that may match any of\
          \ the string fields in the Address, including line, city, district, state,\
          \ country, postalCode, and/or text\r\n* [Practitioner](practitioner.html):\
          \ A server defined search that may match any of the string fields in the\
          \ Address, including line, city, district, state, country, postalCode, and/or\
          \ text\r\n* [RelatedPerson](relatedperson.html): A server defined search\
          \ that may match any of the string fields in the Address, including line,\
          \ city, district, state, country, postalCode, and/or text"
        required: false
        schema:
          type: string
      - name: general-practitioner
        in: query
        description: "Patient's nominated general practitioner, not the organization\
          \ that manages the record"
        required: false
        schema:
          type: string
      - name: _security
        in: query
        description: Security Labels applied to this resource
        required: false
        schema:
          type: string
      - name: active
        in: query
        description: Whether the patient record is active
        required: false
        schema:
          type: string
      - name: address-postalcode
        in: query
        description: "Multiple Resources: \r\n\r\n* [Patient](patient.html): A postalCode\
          \ specified in an address\r\n* [Person](person.html): A postal code specified\
          \ in an address\r\n* [Practitioner](practitioner.html): A postalCode specified\
          \ in an address\r\n* [RelatedPerson](relatedperson.html): A postal code\
          \ specified in an address"
        required: false
        schema:
          type: string
      - name: _filter
        in: query
        description: Search the contents of the resource's data using a filter
        required: false
        schema:
          type: string
      - name: _profile
        in: query
        description: Profiles this resource claims to conform to
        required: false
        schema:
          type: string
      - name: phone
        in: query
        description: "Multiple Resources: \r\n\r\n* [Patient](patient.html): A value\
          \ in a phone contact\r\n* [Person](person.html): A value in a phone contact\r\
          \n* [Practitioner](practitioner.html): A value in a phone contact\r\n* [PractitionerRole](practitionerrole.html):\
          \ A value in a phone contact\r\n* [RelatedPerson](relatedperson.html): A\
          \ value in a phone contact"
        required: false
        schema:
          type: string
      - name: _tag
        in: query
        description: Tags applied to this resource
        required: false
        schema:
          type: string
      - name: organization
        in: query
        description: The organization that is the custodian of the patient record
        required: false
        schema:
          type: string
      - name: _has
        in: query
        description: Return resources linked to by the given target
        required: false
        schema:
          type: string
      - name: address-use
        in: query
        description: "Multiple Resources: \r\n\r\n* [Patient](patient.html): A use\
          \ code specified in an address\r\n* [Person](person.html): A use code specified\
          \ in an address\r\n* [Practitioner](practitioner.html): A use code specified\
          \ in an address\r\n* [RelatedPerson](relatedperson.html): A use code specified\
          \ in an address"
        required: false
        schema:
          type: string
      - name: name
        in: query
        description: "A server defined search that may match any of the string fields\
          \ in the HumanName, including family, give, prefix, suffix, suffix, and/or\
          \ text"
        required: false
        schema:
          type: string
      - name: _source
        in: query
        description: Identifies where the resource comes from
        required: false
        schema:
          type: string
      - name: _id
        in: query
        description: Logical id of this artifact
        required: false
        schema:
          type: string
      - name: _text
        in: query
        description: Search on the narrative of the resource
        required: false
        schema:
          type: string
      - name: _content
        in: query
        description: Search on the entire content of the resource
        required: false
        schema:
          type: string
      - name: family
        in: query
        description: "Multiple Resources: \r\n\r\n* [Patient](patient.html): A portion\
          \ of the family name of the patient\r\n* [Practitioner](practitioner.html):\
          \ A portion of the family name"
        required: false
        schema:
          type: string
      responses:
        "200":
          $ref: "#/components/responses/200ok"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "404":
          $ref: "#/components/responses/404NotFound"
  /connector/api/ips/{id}:
    get:
      summary: "search-type: Read Patient instance"
      tags:
        - IPS
      description: Get an IPS via patient identifier.
      parameters:
        - $ref: "#/components/parameters/patientIdentifier"
      responses:
        "200":
          $ref: "#/components/responses/200ok"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "404":
          $ref: "#/components/responses/404NotFound"
  /connector/api/DocumentReference/:
    get:
      summary: "search-type: Search for DocumentReference instances"
      tags:
        - RMM
      description: Search RMM with a FHIR query.
      parameters:
      - name: date
        in: query
        description: When this document reference was created
        required: false
        schema:
          anyOf:
          - type: string
            format: date-time
          - type: string
            format: date
      - name: _language
        in: query
        description: The language of the resource
        required: false
        schema:
          type: string
      - name: subject
        in: query
        description: Who/what is the subject of the document
        required: false
        schema:
          type: string
      - name: _lastUpdated
        in: query
        description: When the resource version last changed
        required: false
        schema:
          anyOf:
          - type: string
            format: date-time
          - type: string
            format: date
      - name: description
        in: query
        description: Human-readable description
        required: false
        schema:
          type: string
      - name: language
        in: query
        description: Human language of the content (BCP-47)
        required: false
        schema:
          type: string
      - name: type
        in: query
        description: "Multiple Resources: \r\n\r\n* [AllergyIntolerance](allergyintolerance.html):\
          \ allergy | intolerance - Underlying mechanism (if known)\r\n* [Composition](composition.html):\
          \ Kind of composition (LOINC if possible)\r\n* [DocumentManifest](documentmanifest.html):\
          \ Kind of document set\r\n* [DocumentReference](documentreference.html):\
          \ Kind of document (LOINC if possible)\r\n* [Encounter](encounter.html):\
          \ Specific type of encounter\r\n* [EpisodeOfCare](episodeofcare.html): Type/class\
          \  - e.g. specialist referral, disease management"
        required: false
        schema:
          type: string
      - name: relation
        in: query
        description: replaces | transforms | signs | appends
        required: false
        schema:
          type: string
      - name: setting
        in: query
        description: Additional details about where the content was created (e.g.
          clinical specialty)
        required: false
        schema:
          type: string
      - name: _list
        in: query
        description: Search the contents of the resource's data using a list
        required: false
        schema:
          type: string
      - name: related
        in: query
        description: Related identifiers or resources
        required: false
        schema:
          type: string
      - name: patient
        in: query
        description: "Multiple Resources: \r\n\r\n* [AllergyIntolerance](allergyintolerance.html):\
          \ Who the sensitivity is for\r\n* [CarePlan](careplan.html): Who the care\
          \ plan is for\r\n* [CareTeam](careteam.html): Who care team is for\r\n*\
          \ [ClinicalImpression](clinicalimpression.html): Patient or group assessed\r\
          \n* [Composition](composition.html): Who and/or what the composition is\
          \ about\r\n* [Condition](condition.html): Who has the condition?\r\n* [Consent](consent.html):\
          \ Who the consent applies to\r\n* [DetectedIssue](detectedissue.html): Associated\
          \ patient\r\n* [DeviceRequest](devicerequest.html): Individual the service\
          \ is ordered for\r\n* [DeviceUseStatement](deviceusestatement.html): Search\
          \ by subject - a patient\r\n* [DiagnosticReport](diagnosticreport.html):\
          \ The subject of the report if a patient\r\n* [DocumentManifest](documentmanifest.html):\
          \ The subject of the set of documents\r\n* [DocumentReference](documentreference.html):\
          \ Who/what is the subject of the document\r\n* [Encounter](encounter.html):\
          \ The patient or group present at the encounter\r\n* [EpisodeOfCare](episodeofcare.html):\
          \ The patient who is the focus of this episode of care\r\n* [FamilyMemberHistory](familymemberhistory.html):\
          \ The identity of a subject to list family member history items for\r\n\
          * [Flag](flag.html): The identity of a subject to list flags for\r\n* [Goal](goal.html):\
          \ Who this goal is intended for\r\n* [ImagingStudy](imagingstudy.html):\
          \ Who the study is about\r\n* [Immunization](immunization.html): The patient\
          \ for the vaccination record\r\n* [List](list.html): If all resources have\
          \ the same subject\r\n* [MedicationAdministration](medicationadministration.html):\
          \ The identity of a patient to list administrations  for\r\n* [MedicationDispense](medicationdispense.html):\
          \ The identity of a patient to list dispenses  for\r\n* [MedicationRequest](medicationrequest.html):\
          \ Returns prescriptions for a specific patient\r\n* [MedicationStatement](medicationstatement.html):\
          \ Returns statements for a specific patient.\r\n* [NutritionOrder](nutritionorder.html):\
          \ The identity of the person who requires the diet, formula or nutritional\
          \ supplement\r\n* [Observation](observation.html): The subject that the\
          \ observation is about (if patient)\r\n* [Procedure](procedure.html): Search\
          \ by subject - a patient\r\n* [RiskAssessment](riskassessment.html): Who/what\
          \ does assessment apply to?\r\n* [ServiceRequest](servicerequest.html):\
          \ Search by subject - a patient\r\n* [SupplyDelivery](supplydelivery.html):\
          \ Patient for whom the item is supplied\r\n* [VisionPrescription](visionprescription.html):\
          \ The identity of a patient to list dispenses for"
        required: false
        schema:
          type: string
      - name: event
        in: query
        description: Main clinical acts documented
        required: false
        schema:
          type: string
      - name: relationship
        in: query
        description: Combination of relation and relatesTo
        required: false
        schema:
          type: string
      - name: authenticator
        in: query
        description: Who/what authenticated the document
        required: false
        schema:
          type: string
      - name: identifier
        in: query
        description: "Multiple Resources: \r\n\r\n* [AllergyIntolerance](allergyintolerance.html):\
          \ External ids for this item\r\n* [CarePlan](careplan.html): External Ids\
          \ for this plan\r\n* [CareTeam](careteam.html): External Ids for this team\r\
          \n* [Composition](composition.html): Version-independent identifier for\
          \ the Composition\r\n* [Condition](condition.html): A unique identifier\
          \ of the condition record\r\n* [Consent](consent.html): Identifier for this\
          \ record (external references)\r\n* [DetectedIssue](detectedissue.html):\
          \ Unique id for the detected issue\r\n* [DeviceRequest](devicerequest.html):\
          \ Business identifier for request/order\r\n* [DiagnosticReport](diagnosticreport.html):\
          \ An identifier for the report\r\n* [DocumentManifest](documentmanifest.html):\
          \ Unique Identifier for the set of documents\r\n* [DocumentReference](documentreference.html):\
          \ Master Version Specific Identifier\r\n* [Encounter](encounter.html): Identifier(s)\
          \ by which this encounter is known\r\n* [EpisodeOfCare](episodeofcare.html):\
          \ Business Identifier(s) relevant for this EpisodeOfCare\r\n* [FamilyMemberHistory](familymemberhistory.html):\
          \ A search by a record identifier\r\n* [Goal](goal.html): External Ids for\
          \ this goal\r\n* [ImagingStudy](imagingstudy.html): Identifiers for the\
          \ Study, such as DICOM Study Instance UID and Accession number\r\n* [Immunization](immunization.html):\
          \ Business identifier\r\n* [List](list.html): Business identifier\r\n* [MedicationAdministration](medicationadministration.html):\
          \ Return administrations with this external identifier\r\n* [MedicationDispense](medicationdispense.html):\
          \ Returns dispenses with this external identifier\r\n* [MedicationRequest](medicationrequest.html):\
          \ Return prescriptions with this external identifier\r\n* [MedicationStatement](medicationstatement.html):\
          \ Return statements with this external identifier\r\n* [NutritionOrder](nutritionorder.html):\
          \ Return nutrition orders with this external identifier\r\n* [Observation](observation.html):\
          \ The unique id for a particular observation\r\n* [Procedure](procedure.html):\
          \ A unique identifier for a procedure\r\n* [RiskAssessment](riskassessment.html):\
          \ Unique identifier for the assessment\r\n* [ServiceRequest](servicerequest.html):\
          \ Identifiers assigned to this order\r\n* [SupplyDelivery](supplydelivery.html):\
          \ External identifier\r\n* [SupplyRequest](supplyrequest.html): Business\
          \ Identifier for SupplyRequest\r\n* [VisionPrescription](visionprescription.html):\
          \ Return prescriptions with this external identifier"
        required: false
        schema:
          type: string
      - name: period
        in: query
        description: Time of service that is being documented
        required: false
        schema:
          anyOf:
          - type: string
            format: date-time
          - type: string
            format: date
      - name: custodian
        in: query
        description: Organization which maintains the document
        required: false
        schema:
          type: string
      - name: author
        in: query
        description: Who and/or what authored the document
        required: false
        schema:
          type: string
      - name: _security
        in: query
        description: Security Labels applied to this resource
        required: false
        schema:
          type: string
      - name: format
        in: query
        description: Format/content rules for the document
        required: false
        schema:
          type: string
      - name: encounter
        in: query
        description: "Multiple Resources: \r\n\r\n* [Composition](composition.html):\
          \ Context of the Composition\r\n* [DeviceRequest](devicerequest.html): Encounter\
          \ during which request was created\r\n* [DiagnosticReport](diagnosticreport.html):\
          \ The Encounter when the order was made\r\n* [DocumentReference](documentreference.html):\
          \ Context of the document  content\r\n* [Flag](flag.html): Alert relevant\
          \ during encounter\r\n* [List](list.html): Context in which list created\r\
          \n* [NutritionOrder](nutritionorder.html): Return nutrition orders with\
          \ this encounter identifier\r\n* [Observation](observation.html): Encounter\
          \ related to the observation\r\n* [Procedure](procedure.html): Encounter\
          \ created as part of\r\n* [RiskAssessment](riskassessment.html): Where was\
          \ assessment performed?\r\n* [ServiceRequest](servicerequest.html): An encounter\
          \ in which this request is made\r\n* [VisionPrescription](visionprescription.html):\
          \ Return prescriptions with this encounter identifier"
        required: false
        schema:
          type: string
      - name: contenttype
        in: query
        description: "Mime type of the content, with charset etc."
        required: false
        schema:
          type: string
      - name: _filter
        in: query
        description: Search the contents of the resource's data using a filter
        required: false
        schema:
          type: string
      - name: security-label
        in: query
        description: Document security-tags
        required: false
        schema:
          type: string
      - name: _profile
        in: query
        description: Profiles this resource claims to conform to
        required: false
        schema:
          type: string
      - name: _tag
        in: query
        description: Tags applied to this resource
        required: false
        schema:
          type: string
      - name: _has
        in: query
        description: Return resources linked to by the given target
        required: false
        schema:
          type: string
      - name: _source
        in: query
        description: Identifies where the resource comes from
        required: false
        schema:
          type: string
      - name: location
        in: query
        description: Uri where the data can be found
        required: false
        schema:
          type: string
      - name: _id
        in: query
        description: Logical id of this artifact
        required: false
        schema:
          type: string
      - name: _text
        in: query
        description: Search on the narrative of the resource
        required: false
        schema:
          type: string
      - name: _content
        in: query
        description: Search on the entire content of the resource
        required: false
        schema:
          type: string
      - name: category
        in: query
        description: Categorization of document
        required: false
        schema:
          type: string
      - name: relatesto
        in: query
        description: Target of the relationship
        required: false
        schema:
          type: string
      - name: facility
        in: query
        description: Kind of facility where patient was seen
        required: false
        schema:
          type: string
      - name: status
        in: query
        description: current | superseded | entered-in-error
        required: false
        schema:
          type: string
      responses:
        "200":
          $ref: "#/components/responses/200ok"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "404":
          $ref: "#/components/responses/404NotFound"
  /connector/api/DocumentReference/{id}:
    get:
      tags:
        - RMM
      description: Get RMM via identifier.
      summary: "search-type: Read DocumentReference instance"
      parameters:
        - $ref: "#/components/parameters/RMMIdentifier"
      responses:
        "200":
          $ref: "#/components/responses/200ok"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "404":
          $ref: "#/components/responses/404NotFound"
  /connector/api/Library/:
    get:
      summary: "search-type: Search for Library instances"
      tags:
        - lenses
      description: Search Library with a FHIR query.
      parameters:
      - name: date
        in: query
        description: The library publication date
        required: false
        schema:
          anyOf:
          - type: string
            format: date-time
          - type: string
            format: date
      - name: _language
        in: query
        description: The language of the resource
        required: false
        schema:
          type: string
      - name: successor
        in: query
        description: What resource is being referenced
        required: false
        schema:
          type: string
      - name: context-type-value
        in: query
        description: A use context type and value assigned to the library
        required: false
        schema:
          type: string
      - name: _lastUpdated
        in: query
        description: When the resource version last changed
        required: false
        schema:
          anyOf:
          - type: string
            format: date-time
          - type: string
            format: date
      - name: jurisdiction
        in: query
        description: Intended jurisdiction for the library
        required: false
        schema:
          type: string
      - name: derived-from
        in: query
        description: What resource is being referenced
        required: false
        schema:
          type: string
      - name: description
        in: query
        description: The description of the library
        required: false
        schema:
          type: string
      - name: context-type
        in: query
        description: A type of use context assigned to the library
        required: false
        schema:
          type: string
      - name: predecessor
        in: query
        description: What resource is being referenced
        required: false
        schema:
          type: string
      - name: composed-of
        in: query
        description: What resource is being referenced
        required: false
        schema:
          type: string
      - name: title
        in: query
        description: The human-friendly name of the library
        required: false
        schema:
          type: string
      - name: type
        in: query
        description: "The type of the library (e.g. logic-library, model-definition,\
          \ asset-collection, module-definition)"
        required: false
        schema:
          type: string
      - name: _list
        in: query
        description: Search the contents of the resource's data using a list
        required: false
        schema:
          type: string
      - name: context-quantity
        in: query
        description: A quantity- or range-valued use context assigned to the library
        required: false
        schema:
          anyOf:
          - type: string
          - type: number
      - name: depends-on
        in: query
        description: What resource is being referenced
        required: false
        schema:
          type: string
      - name: effective
        in: query
        description: The time during which the library is intended to be in use
        required: false
        schema:
          anyOf:
          - type: string
            format: date-time
          - type: string
            format: date
      - name: context
        in: query
        description: A use context assigned to the library
        required: false
        schema:
          type: string
      - name: content-type
        in: query
        description: The type of content in the library (e.g. text/cql)
        required: false
        schema:
          type: string
      - name: context-type-quantity
        in: query
        description: A use context type and quantity- or range-based value assigned
          to the library
        required: false
        schema:
          type: string
      - name: identifier
        in: query
        description: External identifier for the library
        required: false
        schema:
          type: string
      - name: _security
        in: query
        description: Security Labels applied to this resource
        required: false
        schema:
          type: string
      - name: version
        in: query
        description: The business version of the library
        required: false
        schema:
          type: string
      - name: url
        in: query
        description: The uri that identifies the library
        required: false
        schema:
          type: string
      - name: _filter
        in: query
        description: Search the contents of the resource's data using a filter
        required: false
        schema:
          type: string
      - name: _profile
        in: query
        description: Profiles this resource claims to conform to
        required: false
        schema:
          type: string
      - name: _tag
        in: query
        description: Tags applied to this resource
        required: false
        schema:
          type: string
      - name: _has
        in: query
        description: Return resources linked to by the given target
        required: false
        schema:
          type: string
      - name: name
        in: query
        description: Computationally friendly name of the library
        required: false
        schema:
          type: string
      - name: publisher
        in: query
        description: Name of the publisher of the library
        required: false
        schema:
          type: string
      - name: topic
        in: query
        description: Topics associated with the module
        required: false
        schema:
          type: string
      - name: _source
        in: query
        description: Identifies where the resource comes from
        required: false
        schema:
          type: string
      - name: _id
        in: query
        description: Logical id of this artifact
        required: false
        schema:
          type: string
      - name: _text
        in: query
        description: Search on the narrative of the resource
        required: false
        schema:
          type: string
      - name: _content
        in: query
        description: Search on the entire content of the resource
        required: false
        schema:
          type: string
      - name: status
        in: query
        description: The current status of the library
        required: false
        schema:
          type: string

      responses:
        "200":
          $ref: "#/components/responses/200ok"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "404":
          $ref: "#/components/responses/404NotFound"
  /connector/api/Library/{id}:
    get:
      tags:
        - lenses
      description: Get a lens via identifier.
      summary: "search-type: Read Library instance"
      parameters:
        - $ref: "#/components/parameters/lensIdentifier"
      responses:
        "200":
          $ref: "#/components/responses/200ok"
        "400":
          $ref: "#/components/responses/400BadRequest"
        "404":
          $ref: "#/components/responses/404NotFound"
components:
  schemas:
    FHIR-JSON-RESOURCE:
      type: object
  parameters:
    epiIdentifier:
      in: path
      name: epiIdentifier
      description: identifier of the ePI to retrieve.
      required: true
      schema:
        type: string
    patientIdentifier:
      in: path
      name: patientIdentifier
      description: patient identifier for the IPS.
      required: true
      schema:
        type: string
    RMMIdentifier:
      in: path
      name: RMMIdentifier
      description: RMM identifier to retrieve.
      required: true
      schema:
        type: string
    lensIdentifier:
      in: path
      name: lensIdentifier
      description: lens identifier to retrieve.
      required: true
      schema:
        type: string
  responses:
    200ok:
      description: OK
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/FHIR-JSON-RESOURCE"
    422InvalidData:
      description: Invalid Data
    400BadRequest:
      description: Bad Request
    404NotFound:
      description: Not Found