apiVersion: apps/v1
kind: Deployment
metadata:
  name: fhir-connector-api
spec:
  selector:
    matchLabels:
      app: fhir-connector-api
  template:
    spec:
      containers:
      - name: fhir-connector-api
        image: ghcr.io/gravitate-health/fhir-connector:latest
        resources: {}
        env:
        - name: ENVIRONMENT
          value: dev
        - name: MODE_HAPI_FHIR_SERVER_PROXY_SERVERS_LIST
          value: '["http://fhir-server-epi:8080/api/fhir/", "http://fhir-server-ips:8080/api/fhir/"]'
