apiVersion: batch/v1
kind: CronJob
metadata:
  name: fhir-connector-git-epi
spec:
  schedule: "0 2 * * *"
  suspend: false
  jobTemplate:
    spec:
      template:
        spec:
          containers:
          - name: fhir-connector-git-epi
            image: ghcr.io/gravitate-health/fhir-connector:latest
            env:
            - name: MODE_GIT_FSH_SOURCE_REPO_BRANCH
              value: "master"
            - name: DESTINATION_SERVER
              value: "http://fhir-server-epi:8080/epi/api/fhir"