apiVersion: batch/v1
kind: CronJob
metadata:
  name: fhir-connector-expugne-epi
spec:
  schedule: "0 1 * * *"
  suspend: false
  jobTemplate:
    spec:
      template:
        spec:
          containers:
          - name: fhir-connector-expugne-epi
            image: ghcr.io/gravitate-health/fhir-connector:latest
            env:
            - name: DESTINATION_SERVER
              value: "https://gravitate-health.lst.tfo.upm.es/epi/api/fhir"