apiVersion: batch/v1
kind: CronJob
metadata:
  name: fhir-connector-smm-tool
spec:
  schedule: "0 3 * * *"
  suspend: false
  jobTemplate:
    spec:
      template:
        spec:
          containers:
          - name: fhir-connector-smm-tool
            image: ghcr.io/gravitate-health/fhir-connector:latest
            env:
            - name: DESTINATION_SERVER
              value: "http://fhir-server-epi:8080/api/fhir"
            - name: SMM_SERVER_URL
              value: https://budibase.gravitate-health.lst.tfo.upm.es
            - name: OBJECT_STORAGE_URL
              value: https://gravitate-health.lst.tfo.upm.es/smm