apiVersion: apps/v1
kind: Deployment
metadata:
  name: fhir-connector-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: fhir-connector-api
  template:
    metadata:
      labels:
        app: fhir-connector-api
        istioRequireAuthentication: "true"
    spec:
      serviceAccountName: focusing-manager-serviceaccount
      containers:
      - name: fhir-connector-api
        image: ghcr.io/gravitate-health/fhir-connector:v0.40.0
        resources: {}
        imagePullPolicy: Always
        env:
        - name: ENVIRONMENT
          value: prod
        - name: CONNECTOR_MODE
          value: HAPI_FHIR_SERVER_PROXY
        - name: MODE_HAPI_FHIR_SERVER_PROXY_SERVERS_LIST
          value: '["http://fhir-server-epi:8080/api/fhir/", "http://fhir-server-ips:8080/api/fhir/"]'
        - name: LOG_LEVEL
          value: INFO
      restartPolicy: Always
