apiVersion: batch/v1
kind: CronJob
metadata:
  name: fhir-connector-fhir-sync-hl7
  labels:
    eu.gravitate-health.fosps.connector: "true"
spec:
  schedule: "0 2 * * *"
  suspend: true
  jobTemplate:
    spec:
      template:
        metadata:
          annotations:
            sidecar.istio.io/inject: "false"
        spec:
          containers:
          - name: fhir-connector-fhir-sync-hl7
            image: ghcr.io/gravitate-health/fhir-connector:v0.40.0
            env:
            - name: CONNECTOR_MODE
              value: "HAPI_FHIR_SERVER_SYNC"
            - name: MODE_HAPI_FHIR_SERVER_SYNC_SOURCE_SERVER
              value: "https://sandbox.hl7europe.eu/gravitate-health/fhir"
            - name: MODE_HAPI_FHIR_SERVER_SYNC_RESOURCES
              value: "[Organization, MedicinalProductDefinition, Bundle, Patient, Observation, Composition]"
            - name: DESTINATION_SERVER
              value: "https://fosps.gravitatehealth.eu/epi/api/fhir"
            - name: LOG_LEVEL
              value: INFO

              # Email settings
            - name: EMAIL_ENABLED
              value: "true"
            - name: EMAIL_SENDER
              value: "fosps-noreply@lst.tfo.upm.es"
            - name: EMAIL_SMTP_SERVER
              value: "smtp.lst.tfo.upm.es"
            - name: EMAIL_RECIPIENT
              value: "fosps-logs@lst.tfo.upm.es"
            - name: EMAIL_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: fhir-connector-email-password
                  key: password
            imagePullPolicy: Always
          restartPolicy: OnFailure
  successfulJobsHistoryLimit: 2
  failedJobsHistoryLimit: 2