apiVersion: batch/v1
kind: CronJob
metadata:
  name: fhir-connector-smm-tool
  labels:
    eu.gravitate-health.fosps.connector: "true"
spec:
  schedule: "0 3 * * *"
  suspend: true
  jobTemplate:
    spec:
      template:
        metadata:
          annotations:
            sidecar.istio.io/inject: "false"
        spec:
          containers:
          - name: fhir-connector-smm-tool
            image: ghcr.io/gravitate-health/fhir-connector:v0.40.0
            env:
            - name: CONNECTOR_MODE
              value: "SMM_TOOL"
            - name: DESTINATION_SERVER
              value: "http://fhir-server-epi:8080/epi/api/fhir"
            - name: SMM_SERVER_URL
              value: https://budibase.gravitate-health.lst.tfo.upm.es
            - name: OBJECT_STORAGE_URL
              value: https://fosps.gravitatehealth.eu/smm
            - name: SMM_APP_ID
              value: app_dev_7944ab7d13894779b8c6cb85df08305e
            - name: SMM_TABLE_ID
              value: ta_358a36ba4e4e4b37ace3bd7eda5268a1
            - name: SMM_API_KEY
              valueFrom:
                secretKeyRef:
                  name: budibase-smm-api-key-secret
                  key: apikey
                  optional: false
            - name: LOG_LEVEL
              value: INFO

              # Email settings
            - name: EMAIL_ENABLED
              value: "true"
            - name: EMAIL_SENDER
              value: "fosps-noreply@lst.tfo.upm.es"
            - name: EMAIL_SMTP_SERVER
              value: "smtp.lst.tfo.upm.es"
            - name: EMAIL_RECIPIENT
              value: "fosps-logs@lst.tfo.upm.es"
            - name: EMAIL_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: fhir-connector-email-password
                  key: password
            imagePullPolicy: Always
          restartPolicy: OnFailure
  successfulJobsHistoryLimit: 1
  failedJobsHistoryLimit: 2
