apiVersion: batch/v1
kind: CronJob
metadata:
  name: fhir-connector-git-epi
  labels:
    eu.gravitate-health.fosps.connector: "true"
spec:
  schedule: "0 2 * * *"
  suspend: true
  jobTemplate:
    spec:
      template:
        metadata:
          annotations:
            sidecar.istio.io/inject: "false"
        spec:
          containers:
          - name: fhir-connector-git-epi
            image: ghcr.io/gravitate-health/fhir-connector:v0.40.0
            env:
            - name: CONNECTOR_MODE
              value: "GIT_FSH"
            - name: MODE_GIT_FSH_SOURCE_REPO
              value: "https://github.com/hl7-eu/gravitate-health.git"
            - name: MODE_GIT_FSH_SOURCE_REPO_BRANCH
              value: "mvp3"
            - name: DESTINATION_SERVER
              value: "https://fosps.gravitatehealth.eu/epi/api/fhir"
            - name: LOG_LEVEL
              value: INFO
              # Email settings
            - name: EMAIL_ENABLED
              value: "true"
            - name: EMAIL_SENDER
              value: "fosps-noreply@lst.tfo.upm.es"
            - name: EMAIL_SMTP_SERVER
              value: "smtp.lst.tfo.upm.es"
            - name: EMAIL_RECIPIENT
              value: "fosps-logs@lst.tfo.upm.es"
            - name: EMAIL_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: fhir-connector-email-password
                  key: password
            imagePullPolicy: Always
          restartPolicy: OnFailure
  successfulJobsHistoryLimit: 2
  failedJobsHistoryLimit: 2
